<!DOCTYPE HTML>
<html>
	<head>
		<title>Post2Success Yao Jiang</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../static/assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="#">Post2Success <span>by Yao Jiang</span></a></div>
			</header>

		<!-- Main -->
			<section id="main">
				<div class="inner">

				<!-- One -->
					<section id="one" class="wrapper style1">

						<div class="image fit flush">
							<img src="../static/images/movie_social.png" alt="" />
						</div>
						<header class="special">
							<h2>A marketing tool designed for movie production companies</h2>
							<p>to succeed their social media platform posting for movie release campaign</p>
						</header>
						<div class="content">
							<p>Post2Success is a marketing tool to help you find the right post the social media platform users will find exciting and succeed your social media platform marketing campaign</p>
							<p>Nowadays 90% of film titles use social media, 10% of marketing budgets invested (~ $5 Billion). 30% ~ 50% of box office are achieved in the opening week, which highly depends on the promotional campaign. Wondering if your post will attract users' attention on social media platform? Wish a strong post and positive impact on users, which could lead to box office profit? Try this tool, it can help you a lot.</p>
						</div>
					</section>
				<!-- Two -->
				<section id="two" class="wrapper style2">
					<header>
						<h2>Give me your post</h2>
						<p>I'll give you the analysis, prediction of popularity and suggestion for improvement</p>
					</header>
					<br />
						<h4>Upload the image file and type the text your expect to include in your post, and click on the "Submit" button.</h4>
						<form method=post action="/" enctype=multipart/form-data>
							<br />
							<div class="12u$">
								<input type="file" name="file" />
								<textarea name="message" id="message" placeholder="Enter your text" rows="4"></textarea>
							</div>
							<br />
							<input type=submit value=Submit>
						</form>
					<br />
				</section>
				

				<!-- Three -->
					<section id="three" class="wrapper">
						<div class="spotlight">
							<div class="image flush"><img src="../static/images/analysis.jpg" alt="" /></div>
							<div class="inner">
								<h3>Analyse your post</h3>
								<p>Detailed analysis of the port with feature extaction, deep insight of every aspect of your post.</p>
							</div>
						</div>
						<div class="spotlight alt">
							<div class="image flush"><img src="../static/images/prediction.jpg" alt="" /></div>
							<div  class="inner">
								<h3>Predict the popularity</h3>
								<p>Confident prediction of the number of likes, number of comments and number of shares that your post is expected to attract on social media platform.</p>
							</div>
						</div>
						<div class="spotlight">
							<div class="image flush"><img src="../static/images/suggestion.jpg" alt="" /></div>
							<div class="inner">
								<h3>Suggest the improvement</h3>
								<p>Feed back from AI of possible improvement for your post to attract more attention</p>
							</div>
						</div>
					</section>
				</div>
			</section>

			
		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="https://twitter.com/yaojian64222164" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com/profile.php?id=100001566004545" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/florentjiang/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="mailto: yaojiang.tls@gmail.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				</div>
				<div class="copyright">
					Copyright &copy; Yao Jiang 2020
				</div>
			</footer>

		<!-- Scripts -->
			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/jquery.poptrox.min.js"></script>
			<script src="../static/assets/js/skel.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<script src="../static/assets/js/main.js"></script>

	</body>
</html>